title = "Burger-detalle"
url = "/burgers/:slug"
layout = "default"
is_hidden = 0

[builderDetails]
modelClass = "Brm\Hamburguesas\Models\Hamburguesa"
identifierValue = "{{ :slug }}"
modelKeyColumn = "slug"
displayColumn = "nombre"
notFoundMessage = "Record not found"
==
{% set record = builderDetails.record %}
{% set displayColumn = builderDetails.displayColumn %}
{% set notFoundMessage = builderDetails.notFoundMessage %}

{% if record %}
    <h2>{{ record.nombre }}</h2>
    <img src="{{ record.poster.path }}">
    <h3>Descripción</h3>
    {{ record.descripcion | raw }}
    <h3>Galeria</h3>
    <div class="gallery_area">
        <div class="container">
            <div class="row">
                <div class="col-x1-12">
                    <div class="section_title mb-70 text-center">
                        <span>Galeria de Imagenes</span>
                        <h3>Nuestra Galeria</h3>
                    </div>
                </div>
            </div>
        </div>
        {% for image in record.galeria %}
            <div class="single_gallery small_img">
                
                    <a class="popup-image" href="{{ image.path }}">
                        <i class="ti-plus"></i>
                    </a>
                    <img src="{{ image.path }}" alt="">
                
            </div>
            
        {% endfor %}
    </div>
        
    
{% else %}
    {{ notFoundMessage }}
{% endif %}